.navbar{
    border: solid 1px;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #205691;
}

.logo{
    width: 3vw;
    height: 5vh;
}

.itemList{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: solid 1px;
    width: 60%;
    height: 100%;

    a{
        color: black;
    }

    a:hover{
        color: white;
    }
}

@media (max-width: 768px){
    
}