.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #205691;
}

.logo{
    width: 3vw;
    height: 5vh;
}

.itemList{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 60%;
    height: 100%;

    a{
        color: black;
    }

    a:hover{
        color: white;
    }
}

.imgPerfil {
    height: 12vh;
    width: 6vw;
    border-radius: 100%;
    border: solid #00aaff 5px;
  }

@media (max-width: 768px){
    .navbar{
        height: 10vh;
    }

    .logo{
        width: 10vw;
    }

    .imgPerfil {
      height: 10vh;
      width: 16vw;
    }
}