.content{
    display: flex;
    min-height: 85vh;
    background-image: url("../../../assets/backgroundQuemSomos.png");
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    align-items: center;
   
}

.text{
    width: 50%;
    min-height: 70vh;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

    h2{
        color: #205691;
        font-size: 2.5rem;
        min-width: 55%;
    }

    p{
        font-size: 1.5rem;
        width: 90%;
        
        min-height: 100%;
    }
    
}

@media (max-width: 768px){
    .content{
        background-image: none;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        min-height: auto;
        padding: 30px 20px 20px 20px
    }

    .text{
        width: 100%;
        min-height: auto;
        
        border: solid 1px;
        justify-content: space-between;

        h2{
            font-size: 2rem;
            margin-bottom: 15px;
            
        }

        p{
            font-size: 1.2rem;
            margin-bottom: 15px;
            width: 100%;
        }
    }
}