.Footer{
    background-color: #205691;
    min-height: 8vh;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul{
        display: flex;
        justify-content: space-evenly;
        width: 15vw;
        
        li{
            cursor: pointer;
        }
    }
}

.linkedin{
    width: 3vw;
    height: 5vh;
}

// Responsividade
@media (max-width: 768px){
    .Footer{
        font-size: 0.8em;
        flex-direction: column-reverse;
        height: auto;
        text-align: center;

        img{
            width: 6vw;
        }

        ul{
            justify-content: space-around;
            width: 100%;
        }
        li{

        }
    }

    .linkedin{
        width: 1vw;
        height: 3vh;
    }
}